<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luffy.test.android">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity android:name=".ui.owner.receiver.RegisterReceiverActivity"></activity>
        <activity android:name=".ui.owner.vibrator.VibratorActivity" />
        <activity android:name=".ui.owner.pingNet.PingNetActivity" />
        <activity android:name=".ui.owner.nfc.NFCActivity" />
        <activity android:name=".ui.owner.service.ServiceStartActivity" />
        <activity android:name=".ui.owner.thread.handler.HandlerActivity" />
        <activity android:name=".ui.owner.thread.executorService.ExecutorServiceActivity" />
        <activity android:name=".ui.owner.thread.asyncTask.AsyncTaskActivity" />
        <activity android:name=".ui.owner.thread.entrance.ThreadActivity" />
        <activity android:name=".ui.owner.notification.NotificationActivity" />
        <activity android:name=".ui.owner.animation.tweenAnimation.TweenAnimationActivity" />
        <activity android:name=".ui.owner.animation.entrance.AnimationActivity" />
        <activity android:name=".ui.owner.animation.TransitionActivity" />
        <activity android:name=".ui.owner.animation.frameAnimation.AnimationDrawableActivity" />
        <activity android:name=".ui.owner.link.LinkTestActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.luffy.linktest"
                    android:scheme="test" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.owner.link.LinkActivity" />
        <activity android:name=".ui.owner.dynamicAddView.DynamicAddViewActivity" />
        <activity android:name=".ui.owner.rxjava.RxJavaActivity" />
        <activity android:name=".ui.owner.settings.SettingsActivity" />
        <activity android:name=".ui.owner.provider.ProviderActivity" />
        <activity android:name=".ui.owner.activityForResult.BankCardResultActivity" />
        <activity android:name=".ui.owner.activityForResult.BankCardDetailActivity" />
        <activity android:name=".ui.tsm.feature.FeatureActivity" />
        <activity android:name=".ui.tsm.multiCard.MultiCardActivity" />

        <service
            android:name=".service.TestIntentService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.luffy.generaltest.action.TEST_INTENT_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".service.TestService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.luffy.generaltest.action.TEST_SERVICE" />
            </intent-filter>
        </service>

        <provider
            android:name=".provider.TestProvider"
            android:authorities="${applicationId}.provider.feature"
            android:exported="true" />
    </application>

</manifest>