<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luffy.test.android">

    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application>
        <activity android:name=".ui.owner.animation.animationDrawable.AnimationDrawableActivity"></activity>
        <activity android:name=".ui.owner.link.LinkTestActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.luffy.linktest"
                    android:scheme="test" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.owner.link.LinkActivity" />
        <activity android:name=".ui.owner.dynamicAddView.DynamicAddViewActivity" />
        <activity android:name=".ui.owner.rxjava.RxJavaActivity" />
        <activity android:name=".ui.owner.handler.HandlerActivity" />
        <activity android:name=".ui.owner.settings.SettingsActivity" />
        <activity android:name=".ui.owner.provider.ProviderActivity" />
        <activity android:name=".ui.owner.activityForResult.BankCardResultActivity" />
        <activity android:name=".ui.owner.activityForResult.BankCardDetailActivity" />
        <activity android:name=".ui.tsm.feature.FeatureActivity" />
        <activity android:name=".ui.tsm.multiCard.MultiCardActivity" />

        <service
            android:name=".service.TestIntentService"
            android:exported="false" />
        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".provider.TestProvider"
            android:authorities="com.luffy.test.provider.feature"
            android:exported="true" />
    </application>

</manifest>