<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luffy.test.android">

    <application>
        <activity android:name=".ui.ContentProviderActivity" />
        <activity android:name=".ui.bankCard.BankCardResultActivity" />
        <activity android:name=".ui.bankCard.BankCardDetailActivity" />

        <service
            android:name=".service.DaemonIntentService"
            android:exported="false" />
        <service
            android:name=".service.DaemonService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>