<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luffy.test.tdesignpatternlib">

    <application>
        <activity android:name=".structure.composite.ui.CompositeActivity"></activity>
        <activity android:name=".structure.flyweight.ui.FlyweightActivity" />
        <activity android:name=".structure.facade.ui.FacadeActivity" />
        <activity android:name=".structure.decorator.ui.DecoratorActivity" />
        <activity android:name=".structure.bridge.ui.BridgeActivity" />
        <activity android:name=".structure.adapter.ui.AdapterActivity" />
        <activity android:name=".structure.proxy.ui.ProxyActivity" />
        <activity android:name=".create.builder.ui.BuilderActivity" />
        <activity android:name=".create.abstractFactory.ui.AbstractFactoryActivity" />
        <activity android:name=".create.factoryMethod.ui.FactoryMethodActivity" />
        <activity android:name=".create.prototype.ui.PrototypeActivity" />
        <activity android:name=".create.singleton.ui.SingletonActivity" />
        <activity android:name=".behavior.templateMethod.ui.TemplateMethodActivity" />
        <activity android:name=".behavior.strategy.ui.StrategyActivity" />
        <activity android:name=".behavior.state.ui.StateActivity" />
        <activity android:name=".behavior.observer.ui.ObserverActivity" />
        <activity android:name=".behavior.visitor.ui.VisitorActivity" />
        <activity android:name=".behavior.memento.ui.MementoActivity" />
        <activity android:name=".behavior.mediator.ui.MediatorActivity" />
        <activity android:name=".behavior.iterator.ui.IteratorActivity" />
        <activity android:name=".behavior.interpreter.ui.InterpreterActivity" />
        <activity android:name=".behavior.command.ui.CommandActivity" />
        <activity android:name=".DesignPatternsActivity" />
        <activity android:name=".behavior.chainOfResponsibility.ui.ChainOfResponsibilityActivity" />
    </application>

</manifest>
